
div.lmtl-table-div{
    display:block;
    overflow-y:auto;
    overflow-x:auto;
}
.lmtl-table thead {
    
    background-color: white;
}
div.lmtl-table-pagination{
	margin-top: 10px
}
div.lmtl-table-div{
	margin-top: 5px
}
@media only screen and (max-width : 768px) {
    .lmtl-table-pagination div.col-sm-6 > ul.pull-right {
        float: none !important;
    }
    .lmtl-table-pagination ul{
		margin-top: 10px
	}
}
@media only screen and (min-width : 768px) {
    .lmtl-table-pagination ul{
		margin-top: 0px
	}
}