
div.lmtl-table-div{
    display:block;
    overflow-y:auto;
    overflow-x:auto;
}
.lmtl-table thead {

    background-color: white;
}
.lmtl-table > thead > tr > th{
    vertical-align: top;
}
.lmtl-table > thead > tr > th button.lmtl-filter{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
div.lmtl-table-pagination{
	margin-top: 10px
}
div.lmtl-table-div{
	margin-top: 5px
}
@media only screen and (max-width : 768px) {
    .lmtl-table-pagination div.col-sm-6 > ul.pull-right {
        float: none !important;
    }
    .lmtl-table-pagination ul{
		margin-top: 10px
	}
}
@media only screen and (min-width : 768px) {
    .lmtl-table-pagination ul{
		margin-top: 0px
	}
}

.lmtl-table-toolbar button{
    margin-left: 1px;
    margin-right: 1px;
}




@media print{
    html.lmtl-table-print *
    {    
        display: none;
    }
    .lmtl-table-print-parents, div.lmtl-table-print {
        width:100%;
        max-width: 100%;
        height:100%;
        max-height: 100%;
        display: block !important;
    }
    .lmtl-table-parent {
        display: block !important;
    }
    div.lmtl-table-print {
        display: block;
    }
    div.lmtl-table-print table {
        display: table !important;
    }
    div.lmtl-table-print tr {
        display: table-row !important;
    }
    div.lmtl-table-print th, div.lmtl-table-print td {
        display: table-cell !important;
    }
    div.lmtl-table-print thead:first-child{
        display: table-header-group !important;
    }
    div.lmtl-table-print tbody{
        display: table-row-group !important;
    }
    div.lmtl-table-print table button.lmtl-filter {
        display: none !important;
    }
    div.lmtl-table-print table i.sort {
        visibility: hidden !important;
    }
    div.lmtl-table-print{
        max-height: none !important;
    }
}